@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";
@import "../variables.scss";

$menuTextColor: #666666;
$menuTextColorHover: #279cb1;
$socialIconHoverColor: #0176fa;
$socialIconHeight: 16px;

header {
    font-size: 14px;
    margin: 64px 0;
}

.menu {
    display: none;
    font-family: $secondaryFontFamily;
    font-weight: 500;

    li {
        margin-right: 16px;

        &:last-child {
            margin-right: 0;
        }
    }

    a {
        color: $menuTextColor;
        text-decoration: none;

        &:hover {
            color: $menuTextColorHover;
        }
    }
}

.socials {
    a.icon {
        display: inline-block;
        height: $socialIconHeight;
        margin-right: 32px;

        &:hover g,
        &:hover path {
            fill: $socialIconHoverColor;
        }
    }
}

@include media-breakpoint-up(md) {
    .menu {
        display: block;
    }
}
