$primaryFontFamily: "Red Hat Text", sans-serif;
$secondaryFontFamily: "Red Hat Display", sans-serif;

$headingPrimaryColor: #161616;
$headingTitle: #279cb1;
$textPrimaryColor: #161616;
$textSecondaryColor: #666666;
